main {
    margin: 0px 30px;
}

article {
    margin-bottom: 10px;
    border-top: solid 2px rgb(221, 15, 15);
    height: 250px;
}

.title_h2 {
    text-align: center;
    font-size: 30px;
}

.titulo {
    text-align: center;
    font-size: 40px;
    color: #F30D33;
}

.btn_agregar {
    background: #F30D33;
    color: #fff;
    padding: 20px;
    margin-top: 30px;
    margin-right: 35%;
    margin-left: 35%;
    width: 30%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

.btn_agregar:hover {
    cursor: pointer;
    color: orangered;
    background: white;
}

img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 3% 2%;
    border-radius: 50%;
}

.foro__descripcion {
    float: left;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: auto;
    margin-top: 65px;
    padding: 5px;
    display: block;
}

.foro__titulo {
    font-size: 40px;
    margin: 5px 0;
    width: 80%;
    text-align: center;
}

.foro__txt {
    font-size: 20px;
    width: 80%;
}